.homePageWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  height: 100vh;
}

.formWrapper {
  background: #282a36;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  max-width: 90%;
}
.imgWrapper>img{
  width:100px;
  height:90px;
}
.imgWrapper{
  display: flex;
}
.imgWrapper>h1 {
  font-size:1.7em;
  padding:0;
  margin:0;
  margin-top:1em;




}

footer {
  position: fixed;
  bottom: 0;
}

footer a {
  color: #a43c20
}


.inputGroup {
  display: flex;
  flex-direction: column;
}

.mainLabel {
  margin-bottom: 20px;
  margin-top: 0;
}

.homePageLogo {
  height: 80px;
  margin-bottom: 30px;
}

.inputBox {
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  margin-bottom: 14px;
  background: #eee;
  font-size: 16px;
  font-weight: bold;
}


.btn {
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.joinBtn,.leaveBtn{
  background: #C65D7B;
  width: 100px;
  margin-left: auto;
}

.joinBtn:hover,.leaveBtn:hover {
  background: #874356;
}



.createInfo {
  margin: 0 auto;
  margin-top: 20px;
}

.createNewBtn {
  color: #C65D7B;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  outline: none;
  border: none;
  background:none;
  padding:0;
  border-bottom: 1px solid #C65D7B;
  cursor: pointer;
}

.createNewBtn:hover,
footer a:hover {
  color: #874356;
  border-color: #874356;
}


.mainWrap {
  display: grid;
  grid-template-columns: 230px 1fr;
  height:100vh

}

.aside {
  background: #1c1e29;
  padding: 16px;
  color: #fff;
  display: flex;
  flex-direction: column;
}

.asideInner {
  flex-grow: 1;
}

.logo>img{
  height:100px;
  width:100%;
}

.clientsList {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
} 

.client {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
}

.userName {
  margin-top: 10px;
}

.logo {
  border-bottom: 1px solid #424242;
  padding-bottom: 10px;
}


.leaveBtn {
  width: 100%;
  margin-top: 20px;
}

.CodeMirror {
  min-height: calc(100vh - 20px);
  font-size: 20px;
  line-height: 1.6;
  padding-top: 20px;
}

.copyBtn{
  margin-top:120px;
}