.homePageWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  height: 100vh;
}

.formWrapper {
  background: #282a36;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  max-width: 90%;
}
.imgWrapper>img{
  width:100px;
  height:90px;
}
.imgWrapper{
  display: flex;
}
.imgWrapper>h1 {
  font-size:1.7em;
  padding:0;
  margin:0;
  margin-top:1em;




}

footer {
  position: fixed;
  bottom: 0;
}

footer a {
  color: #a43c20
}